[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1"
django-environ = "==0.4.5"
whitenoise = "==3.3.1"
django-braces = "==1.13.0"
django-crispy-forms = "==1.7.2"
django-model-utils = "==3.1.2"
pillow = "==5.2.0"
django-allauth = "==0.27.0"
"psycopg2" = "==2.7.4"
awesome-slugify = "==1.6.5"
pytz = "==2016.7"
django-redis = "==4.5.0"
redis = ">=2.10.5"
django-markdownx = "*"
django-debug-toolbar = "*"
django-extensions = "==2.1.0"
django-sitetree = "==1.11.0"
django-ckeditor = "*"
gevent = "==1.3.5"
gunicorn = "==19.9.0"
boto = "==2.42.0"
"boto3" = "*"
django-storages = "*"
django-anymail = "==3.0"
raven = "==6.9.0"

[dev-packages]
werkzeug = "*"
ipython = "*"
tox = "*"
pytest = "*"

[requires]
python_version = "3.7.0"
