    /*
    Flaticon icon font: Flaticon
    Creation date: 01/08/2016 09:23
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-exercise:before { content: "\f100"; }
.flaticon-exercise-1:before { content: "\f101"; }
.flaticon-exercise-10:before { content: "\f102"; }
.flaticon-exercise-11:before { content: "\f103"; }
.flaticon-exercise-12:before { content: "\f104"; }
.flaticon-exercise-13:before { content: "\f105"; }
.flaticon-exercise-14:before { content: "\f106"; }
.flaticon-exercise-15:before { content: "\f107"; }
.flaticon-exercise-16:before { content: "\f108"; }
.flaticon-exercise-2:before { content: "\f109"; }
.flaticon-exercise-3:before { content: "\f10a"; }
.flaticon-exercise-4:before { content: "\f10b"; }
.flaticon-exercise-5:before { content: "\f10c"; }
.flaticon-exercise-6:before { content: "\f10d"; }
.flaticon-exercise-7:before { content: "\f10e"; }
.flaticon-exercise-8:before { content: "\f10f"; }
.flaticon-exercise-9:before { content: "\f110"; }
.flaticon-jumping:before { content: "\f111"; }
.flaticon-pushups:before { content: "\f112"; }
.flaticon-running:before { content: "\f113"; }
.flaticon-running-1:before { content: "\f114"; }
.flaticon-stretching:before { content: "\f115"; }
.flaticon-stretching-1:before { content: "\f116"; }
.flaticon-stretching-2:before { content: "\f117"; }
.flaticon-stretching-3:before { content: "\f118"; }
.flaticon-stretching-4:before { content: "\f119"; }
.flaticon-stretching-5:before { content: "\f11a"; }
.flaticon-weightlifting:before { content: "\f11b"; }
.flaticon-weightlifting-1:before { content: "\f11c"; }
.flaticon-weightlifting-10:before { content: "\f11d"; }
.flaticon-weightlifting-11:before { content: "\f11e"; }
.flaticon-weightlifting-2:before { content: "\f11f"; }
.flaticon-weightlifting-3:before { content: "\f120"; }
.flaticon-weightlifting-4:before { content: "\f121"; }
.flaticon-weightlifting-5:before { content: "\f122"; }
.flaticon-weightlifting-6:before { content: "\f123"; }
.flaticon-weightlifting-7:before { content: "\f124"; }
.flaticon-weightlifting-8:before { content: "\f125"; }
.flaticon-weightlifting-9:before { content: "\f126"; }
.flaticon-yoga:before { content: "\f127"; }

    $font-Flaticon-exercise: "\f100";
    $font-Flaticon-exercise-1: "\f101";
    $font-Flaticon-exercise-10: "\f102";
    $font-Flaticon-exercise-11: "\f103";
    $font-Flaticon-exercise-12: "\f104";
    $font-Flaticon-exercise-13: "\f105";
    $font-Flaticon-exercise-14: "\f106";
    $font-Flaticon-exercise-15: "\f107";
    $font-Flaticon-exercise-16: "\f108";
    $font-Flaticon-exercise-2: "\f109";
    $font-Flaticon-exercise-3: "\f10a";
    $font-Flaticon-exercise-4: "\f10b";
    $font-Flaticon-exercise-5: "\f10c";
    $font-Flaticon-exercise-6: "\f10d";
    $font-Flaticon-exercise-7: "\f10e";
    $font-Flaticon-exercise-8: "\f10f";
    $font-Flaticon-exercise-9: "\f110";
    $font-Flaticon-jumping: "\f111";
    $font-Flaticon-pushups: "\f112";
    $font-Flaticon-running: "\f113";
    $font-Flaticon-running-1: "\f114";
    $font-Flaticon-stretching: "\f115";
    $font-Flaticon-stretching-1: "\f116";
    $font-Flaticon-stretching-2: "\f117";
    $font-Flaticon-stretching-3: "\f118";
    $font-Flaticon-stretching-4: "\f119";
    $font-Flaticon-stretching-5: "\f11a";
    $font-Flaticon-weightlifting: "\f11b";
    $font-Flaticon-weightlifting-1: "\f11c";
    $font-Flaticon-weightlifting-10: "\f11d";
    $font-Flaticon-weightlifting-11: "\f11e";
    $font-Flaticon-weightlifting-2: "\f11f";
    $font-Flaticon-weightlifting-3: "\f120";
    $font-Flaticon-weightlifting-4: "\f121";
    $font-Flaticon-weightlifting-5: "\f122";
    $font-Flaticon-weightlifting-6: "\f123";
    $font-Flaticon-weightlifting-7: "\f124";
    $font-Flaticon-weightlifting-8: "\f125";
    $font-Flaticon-weightlifting-9: "\f126";
    $font-Flaticon-yoga: "\f127";
