
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.intro {
  display: inline-flex;
  justify-content: center;
  padding: 50px;
  background: cyan;
}

@media all and (min-width: 600px) {
  .images {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%
  }
}

@media all and (min-width: 800px) {
  .images {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
  }
}

.image {
  padding: 5%;
  width: 50%;
  height: 50%;
  margin: 20px;
}

.image-1 {
  padding: 5%;
  background: deepskyblue;
  order: 2;
}

.image-2 {
  padding: 5%;
  background: darkred;
  order: 1;
}

.item p {
  text-align: center;
}

.menu {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding: 5%;
  background: gold;
}


////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////////////////////////
		//Navbar//
////////////////////////////////

// This is a fix for the bootstrap4 alpha release

.navbar {
  border-radius: 0px;
}

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }
}

////////////////////////////////
		//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}
