<div id="about">
    <div class="about-content">
        <div class="work-grid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-title text-center wow fadeIn">
                            <h3>About</h3>
                            {% for content in about_en_contents %}
                                <p>{{ content.value }}</p>
                            {% endfor %}
                            {% for content in about_nl_contents %}
                                <p>{{ content.value }}</p>
                            {% endfor %}
                        </div>
                        <div class="underline"></div>
                    </div><!-- end col-md-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end work-grid  -->
    </div><!-- end work-content  -->
</div><!-- end work  -->
