{% load static %}

<div id="about">
    <div class="about-content">
        <div class="work-grid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-title text-center wow fadeIn">
                            <h3 align="left">About
                                <div class="pull-right">
                                    <a href="/artist/{{ artist.id }}?language={{ language.other }}">
                                        {% with language_flag='/img/'|add:language.logo %}
                                            <img src="{% static language_flag %}"
                                                 height="20" alt="{{ language.name }}"/>
                                        {% endwith %}
                                    </a>
                                </div>
                            </h3>
                            <div align="left">
                                {% for content in about_contents %}
                                    {{ content.value | safe }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="underline"></div>
                    </div><!-- end col-md-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end work-grid  -->
    </div><!-- end work-content  -->
</div><!-- end work  -->
