<div id="work">
    <div class="work-content">
        <div class="work-grid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="work-title text-center wow fadeIn">
                            <h3>Art</h3>
                            <div class="underline"></div>
                        </div> <!-- end work-title -->
                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->
            </div> <!-- end container -->
            <div class="work-details">
                <div class="container">
                        {% for work in works %}
                          <img src="{{ work.image.url }}" width="100%"/>
                        {% endfor %}
                </div> <!-- container -->
            </div> <!-- end work-details  -->
        </div> <!-- end work-grid  -->
    </div> <!-- end work-content  -->
</div> <!-- end work  -->
