<div id="work">
    <div class="work-content">
        <div class="work-grid">
            <div class="work-details">
                <div class="container">
                        {% for work in works %}
                          <img src="{{ work.image.url }}" width="100%"/>
                        {% endfor %}
                </div> <!-- container -->
            </div> <!-- end work-details  -->
        </div> <!-- end work-grid  -->
    </div> <!-- end work-content  -->
</div> <!-- end work  -->
