<div id="contact">
    <div class="contact-content">
        <div class="contact-grid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-title text-center wow fadeIn">
                            <h3>contact</h3>
                            <p>
                                <b>{{ contact.first_name }} {{ contact.last_name }}</b><br>
                                {{ contact.email }}
                            </p>
                            <p>
                                {% if contact.company %}Company name: {{ contact.company }}<br>{% endif %}
                                {% if contact.bank %}Account number: {{ contact.bank }}<br>{% endif %}
                                {% if contact.vat %}VAT: {{ contact.vat }}<br>{% endif %}
                            </p>
                            <p>
                                {% if contact.telephone %}Telephone: {{ contact.telephone }}<br>{% endif %}
                                {% if contact.street %}Street: {{ contact.street }}<br>{% endif %}
                                {% if contact.city %}City: {{ contact.city }}<br>{% endif %}
                                {% if contact.country %}Country: {{ contact.country }}<br>{% endif %}
                            </p>
                        </div>
                        <div class="underline"></div>
                    </div><!-- end col-md-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end work-grid  -->
    </div><!-- end work-content  -->
</div><!-- end work  -->
