<div id="home">
    <div id="home-parallex" class="section">
        <div class="home-content-main">
            <div class="table-cell">
                <div class="container">
                    <div class="row home-row">
                        <div class="col-md-12 col-sm-12">
                            <div class="home-text wow fadeInDown text-center">
                                <h2>Impart</h2>
                                {% for content in home_en_contents %}
                                    <p id="intro">{{ content.value | safe }}</p>
                                {% endfor %}
                                {% for content in home_nl_contents %}
                                    <p id="intro">{{ content.value | safe }}</p>
                                {% endfor %}
                                <h3>
                                    <div class="container-fluid">
                                        <div class="row">
                                            {% for artist in artists %}
                                                <div class="col-md-6">
                                                    <a id="artist" href="artist/{{ artist.id }}">{{ artist.name }}</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </h3>
                            </div> <!-- end home-text -->
                        </div> <!-- end col-md-12 col-sm-12 -->
                    </div> <!-- end row home-row -->
                </div> <!-- end container -->
            </div> <!-- end table-cell -->
        </div> <!-- end home-content-main -->
        <div class="parallax" data-velocity="-.1"></div>
        <div class="parallax" data-velocity="-.5" data-fit="525"></div>
    </div> <!-- end home-parallex  -->
</div> <!-- end home  -->
