<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

    {% include "pages/head.html" %}

    <body>

        {# The preloader - oo-sign #}
        <div class="se-pre-con"></div>

        {% include "pages/menubar.html" %}

        <div class="main-page-content">

            {% include "pages/home.html" %}
            {% include "pages/news.html" %}
            {% include "pages/manifest.html" %}
            {% include "pages/landprice.html" %}
            {% include "pages/art.html" %}

        </div>

        {% include "pages/javascript.html" %}

    </body>

</html>
