
{% load static %}

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/wow-anim.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox-buttons.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox-thumbs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox-media.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mixitup.min.js' %}"></script>
<script src="{% static 'js/jquery.bgswitcher.js' %}"></script>

<script type="text/javascript">
(function ($) {
    "use strict";

    var $body = $("body"),
        $window = $(window);

    /* Menu handling */

    $window.on('scroll' ,function () {
        if ($(".navbar").offset().top > 50) {
            $(".navbar-default").addClass("small");
        } else {
            $(".navbar-default").removeClass("small");
        }
    });

    /* Smooth scrolling from the menu */

    $('.navbar-default').on('click', 'a', function (event) {
        $(".navbar-default").find(".active").removeClass("active");
        $(this).parent().addClass("active");

        var $anchor = $(this);

        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top - 1
        }, 1000);
        event.preventDefault();
    });

    /* TODO: Add this to the Artist and Archive page! */

    $body.scrollspy({
        target: ".navbar-collapse",
        offset: 15
    });

    /* Art */

    $('.fancybox-buttons').fancybox({
        openEffect: 'fade',
        closeEffect: 'fade',
        prevEffect: 'fade',
        prevSpeed: 550,
        nextEffect: 'fade',
        nextSpeed: 550,
        closeBtn: true,
    });

    /* Title under the image inside a box */

    $(".fancybox").fancybox({
        helpers: {
            title: {
                type: 'inside'
            },
            buttons: {}
        }
    });

    /* Handle the art images nicely */

    var filterList = {
        init: function () {

            // MixItUp plugin
            $('#portfoliolist').mixItUp({
                selectors: {
                    target: '.portfolio',
                    filter: '.filter'
                },
                load: {
                    filter: '.{{ art_labels.0 }}'
                }
            });
        }
    };

    // Run the show!
    filterList.init();

})(jQuery);


/* Shows the oo-sign while preloading */

$(window).on('load' ,function () {
    "use strict";
    // Animate loader off screen
    $(".se-pre-con").fadeOut("slow");
    ;
});

/* Switches the images of the different artists */

$("#home-parallex").bgswitcher({
    images: [{% for artist in artists %}
                "{{ artist.image.url }}"{% if not forloop.last %},{% endif %}
             {% endfor %}],
})

/* Toggles the content per language */

$(document).ready(function() {
    $('div.language-flag').click(function(){
        var current = $('div[current-language]').attr('current-language');
        var other = $('div[other-language]').attr('other-language');
        // and why can't we do x, y = y, x?
        var temp = current;
        current = other;
        other = temp;
        $('div.language-wrapper[lang="' + current + '"]').show();
        $('div.language-wrapper[lang="' + other + '"]').hide();
        $('div.language-flag[lang="' + current + '"]').show();
        $('div.language-flag[lang="' + other + '"]').hide();
        $('div[current-language]').attr('current-language', current);
        $('div[other-language]').attr('other-language', other);
    });
});

$(document).ready(function() {
    var current = $('div[current-language]').attr('current-language');
    var other = $('div[other-language]').attr('other-language');
    $('div.language-wrapper[lang="' + current + '"]').show();
    $('div.language-wrapper[lang="' + other + '"]').hide();
    $('div.language-flag[lang="' + current + '"]').show();
    $('div.language-flag[lang="' + other + '"]').hide();
});

</script>
