{% load static %}

<div id="landprice">
    <div class="landprice-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="landprice-title text-center wow fadeIn">
                        <h3>Land Price</h3>
                        <div class="underline"></div>
                    </div><!-- end landprice-title  -->
                </div><!-- end col-md-12  -->
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 about-col">
                    <div class="about-details wow fadeIn">
                        <div class="pull-right">
                            <a href="/?language={{ language.other }}">
                                {% with language_flag='/img/'|add:language.logo %}
                                    <img src="{% static language_flag %}"
                                         height="20" alt="{{ language.name }}"/>
                                {% endwith %}
                            </a>
                        </div>
                        <div align="left">
                            {% for content in landprice_contents %}
                                {{ content.value | safe }}
                            {% endfor %}
                        </div>
                    </div><!-- end landprice-details  -->
                </div><!-- end col-md-12  -->
            </div><!-- end row  -->
        </div><!-- end container  -->
    </div>
</div> <!-- end landprice -->
