<div id="landprice">
    <div class="landprice-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="landprice-title text-center wow fadeIn">
                    <h3>Land Price</h3>
                    <div class="underline"></div>
                </div><!-- end work-title  -->
            </div><!-- end col-md-12  -->
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 about-col">
                <div class="about-details wow fadeIn">
                    {% for price in prices %}
                        <div class="price">
                            <p>{{ price.type }}</p>
                            <p>{{ price.header }}</p>
                            <p>{{ price.body_english }}</p>
                            <p>{{ price.body_dutch }}</p>
                            <p>{{ price.active }}</p>
                        </div>
                    {% endfor %}
                </div><!-- end about-details  -->
            </div><!-- end col-md-12  -->
        </div><!-- end row  -->
    </div><!-- end container  -->
    </div>
</div> <!-- end news -->
